/* Styles pour le tableau */


table {

  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 70px;
  margin-left: 70px;
  
}

th, td {
  padding: 8px;
  text-align: center; /* Centrer le texte horizontalement */
  vertical-align: middle; /* Centrer le contenu verticalement */
  border-bottom: 1px solid #ddd;
  border: 1px solid #746a6a; /* Couleur et épaisseur de la bordure */
  padding: 8px;
}

/* Styles pour les entêtes de colonnes */
.colonne-img, .colonne-produit, .colonne-prixQ, .colonne-modSupp {
  font-weight: bold;
}

.colonne-produit {
  width: 30%; /* Ajustez la valeur selon vos besoins */
}

/* Styles pour l'image du produit */
.img-produit {
  height: 100px;
  width: 100px;
}



button:hover {
  background-color: #0056b3;
}

.ajout {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7e1d0;
  margin-top: 10px;
}

.ajout h1 {
  text-align: center;
}

.ajout div {
  margin-bottom: 10px;
}

.ajout label {
  font-weight: bold;
}

.ajout input[type="text"],
.ajout textarea,
.ajout input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Pour inclure la bordure dans la largeur et la hauteur */
}

.ajout button {
  width: 40%;
  padding: 10px;
  background-color: #19953e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin: 0 auto; /* Centrer horizontalement */
}

.ajout button:hover {
  background-color: #7dcd99;
}

.bouton-modifier {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 

}
.bouton-modifier:hover {
  background-color: #6da9e9;
}

.bouton-supprimer {
  padding: 5px 10px;
  background-color: #f25d58;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.bouton-supprimer:hover {
  background-color: #f17e62;
}