.page-container {
    display: flex;
    flex-direction: column; /* Modifier la direction en colonne */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #e7d1c0, #EFEBEB) no-repeat;
    background-size: cover; /* Pour couvrir tout l'arrière-plan */
    height: 100vh; /* Hauteur de la fenêtre visible */
    margin: 0; /* Supprimer les marges par défaut */
    padding: 0;
    text-align: center;
}
.video-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
h1 {

    font-size: 20px;
   
}

.video-wrapper {
    margin: 50px;
    margin-bottom: 100px;
}

/* video {
    max-width: 100%;
   max-height:100%;
}  */

video {
     border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px) {
    .page-container {
      margin-top: 5px;
      /* Réduisez la marge supérieure sur les petits écrans */
    }
  .video-container {
    flex-wrap: wrap; 
  }
    h1 {
      font-size: 18px; /* Réduisez la taille de la police pour les petits écrans */
      padding: 5px;
      /* Réduisez l'espacement autour du titre */
    }
  
    /* Réduisez la taille des vidéos pour les petits écrans */
    video {
      width: 300px;
      height: 200px;
    }
  }
  