   
  body {
    background: linear-gradient(to bottom, #e7d1c0, #EFEBEB) no-repeat;
     height: auto;
  }


.slider {
  width: 70%; /* Ajustez la largeur du slider selon vos besoins */
  margin: auto; /* Pour centrer horizontalement */
  margin-top: 150px; /* Marge en haut, ajustez selon vos préférences */
  display: flex;
  flex-direction: column;
  position: relative;
}
.container-sliderimage {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between; /* Pour espacer les images */
}

.container-sliderimage img {
  height: 100%;
  max-width: 80%; /* Ajustez la largeur de l'image pour maintenir les proportions */
 /* Ajustez la largeur maximale de chaque image selon vos préférences */
  border-radius: 20%;
  margin: 0 10px;
   /* Ajoutez une marge à droite et à gauche de chaque image */
}



.content {
  text-align: center;
  position: relative;
  top: 60%; /* Ajustez la valeur selon vos préférences pour déplacer le contenu vers le bas */
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.content p {
  position: relative;
  font-weight: 600;
  font-size: 25px;
 line-height: 2;
 margin-top: 30vh;
 /*Ajoutez une marge en haut du paragraphe pour le descendre davantage */
}

@media screen and (max-width: 768px) {
  .container-sliderimage img {
    height: auto;
    max-width: 70%;
  }
  .slider {
    width: 70%;
    margin-top: 50px;
  }

  .content {
    position: relative;
    top: 10; /* Réinitialisez la position verticale */
    transform: translate(-50%, 0); /* Réinitialisez la translation */
    padding: 20px;
  }

  .content p {
    font-size: 12px;
    margin-top: 20px; /* Ajustez la marge en haut du paragraphe pour éviter qu'il ne passe au-dessus des images */
  }

  img {
    height: 50%;
    object-fit: cover; 
    border-radius: 20%;
  }
}
