.connexion {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Modifier align-items */
    min-height: 100vh; /* Utiliser min-height pour permettre le déplacement vers le haut */
    padding-top: 150px; /* Ajouter un espace supplémentaire en haut */
  }

.container-connexion {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



form {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;

}

input {
  padding: 10px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
}


.btnadmin {
    margin-left: 10px;
    background-color: #d9c2b1; /* Couleur du bouton */
    color: #fff;
    font-weight: bold; /* Couleur du texte du bouton */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  
}

.btnadmin:hover {
    background-color: #c4ad9c;
}

  