.page-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4%;
    
    background: linear-gradient(to bottom, #e7d1c0, #EFEBEB) no-repeat;
    
    
  }
  
  .container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
   
   
       
  }
  
  .wrapper-contact {
     width: 45%;
   margin-bottom: 10px;
      
    }

/* .wrapper-contact form {
   margin-left: 0;
} 
    */
  
h2 {
    font-size: 1.5em;
   
  }
  
  .input-inbox-contact {
    
    margin-bottom: 2px;
  }
  
  .input-inbox-contact input {
    width: 300px; /* Ajustez la largeur de l'input selon vos besoins */
    height: 40px; /* Ajustez la hauteur de l'input selon vos besoins */
    padding: 8px; /* Ajustez le rembourrage de l'input selon vos besoins */
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .input-inbox-contact-message input {
    height: 100px; /* Hauteur spécifique pour l'input de message */
    resize: vertical;
    width: 500px;
    border-radius: 10px;  
    
    /* Permet à l'utilisateur de redimensionner la hauteur verticalement */
  }
  
  .btn {
    background-color: #d9c2b1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
   
  }
  
  .btn:hover {
    background-color: #c6b09f;
  }

  @media screen and (max-width: 768px) {
    .wrapper-contact {
      width: 10%; /* Utilisez une largeur encore plus grande pour les petits écrans */
    }
   

    .input-inbox-contact input {
      padding: 5px; /* Réduire encore plus le padding pour les petits écrans */
      padding-bottom: 30px;
      width: 50%;
       /* Réduire encore plus le padding pour les petits écrans */
    }

    .input-inbox-contact-message input {
      height: 20px;
      width: 50%; /* Réduire encore plus la hauteur de l'input de message pour les petits écrans */
    }
  }